# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [150]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [151]:
# Calculate the total number of unique schools
school_count = len(school_data)
print(school_count)

15

In [152]:
# Calculate the total number of students
student_count = len(student_data)
print(student_count)

39170

In [153]:
# Calculate the total budget

total_budget = school_data["budget"].sum()
print(total_budget)

24649428

In [154]:
# Calculate the average (mean) math score
average_math_score = student_data["math_score"].mean()
print(average_math_score)

78.98537145774827

In [155]:
# Calculate the average (mean) reading score
average_reading_score = student_data["reading_score"].mean()
print(average_reading_score)

81.87784018381414

In [156]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [157]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [158]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [159]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame(
    {"Total Number of Unique Schools: " :[school_count],
    "Total Students: " : [student_count],
    "Total Budget: ": [total_budget],
    "Average Math Score: ": [average_math_score],
    "Average Reading Score: " : [average_reading_score],
    "Percentage of Student Body Passing Math: " : [passing_math_percentage],
    "Percentage of Student Body Passing Reading: " : [passing_reading_percentage],
    "Percentage of Student Body Passing Both Math & Reading: " : [overall_passing_rate]
    }
)

# Formatting
# district_summary["Total Number of Unique Schools: "] = district_summary["Total Number of Unique Schools: "].map("{:,}".format)
district_summary["Total Students: "] = district_summary["Total Students: "].map("{:,}".format)
district_summary["Total Budget: "] = district_summary["Total Budget: "].map("${:,.2f}".format)
district_summary["Average Math Score: "] = district_summary["Average Math Score: "].map("{:,.0f}".format)
district_summary["Average Reading Score: "] = district_summary["Average Reading Score: "].map("{:,.0f}".format)
district_summary["Percentage of Student Body Passing Math: "] = district_summary["Percentage of Student Body Passing Math: "].map("{:.2f}%".format)
district_summary["Percentage of Student Body Passing Reading: "] = district_summary["Percentage of Student Body Passing Reading: "].map("{:.2f}%".format)
district_summary["Percentage of Student Body Passing Both Math & Reading: "] = district_summary["Percentage of Student Body Passing Both Math & Reading: "].map("{:.2f}%".format)

# Display the DataFrame
district_summary

,Total Number of Unique Schools:,Total Students:,Total Budget:,Average Math Score:,Average Reading Score:,Percentage of Student Body Passing Math:,Percentage of Student Body Passing Reading:,Percentage of Student Body Passing Both Math & Reading:
0,15,"39,170","$24,649,428.00",79,82,74.98%,85.81%,65.17%

## School Summary

In [160]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [161]:
# Calculate the total student count
per_school_counts = school_data_complete.groupby(["school_name"]).count()["student_name"]
print(per_school_counts)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [162]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts
print(per_school_capita)
print(per_school_budget)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64
school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [163]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).agg(math_score = ('math_score', 'mean'))
per_school_reading = school_data_complete.groupby(["school_name"]).agg(reading_score = ('reading_score', 'mean'))
print(per_school_math)
print(per_school_reading)

                       math_score
school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Hernandez High School   77.289752
Holden High School      83.803279
Huang High School       76.629414
Johnson High School     77.072464
Pena High School        83.839917
Rodriguez High School   76.842711
Shelton High School     83.359455
Thomas High School      83.418349
Wilson High School      83.274201
Wright High School      83.682222
                       reading_score
school_name
Bailey High School         81.033963
Cabrera High School        83.975780
Figueroa High School       81.158020
Ford High School           80.746258
Griffin High School        83.816757
Hernandez High School      80.934412
Holden High School         83.814988
Huang High School          81.182722
Johnson High School        80.966394
Pena High School           84.044699
Rodriguez High School      80.744686
Shelton High School        83.725724
Thomas High School         83.848930
Wilson High School         83.989488
Wright High School         83.955000

In [164]:
# Calculate the number of students (originally said 'schools' here instead of 'students') 
# with math scores of 70 or higher

student_passing_math = school_data_complete[(school_data_complete['math_score']>=70)]
#student_passing_math = student_passing_math.groupby(["school_name"]).count()[['math_score']]

print(student_passing_math)

# Calculate the number of schools with math scores of 70 or higher

school_passing_math = per_school_math.loc[(per_school_math['math_score']>=70)]
print(school_passing_math)
school_passing_math.count()

       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
8               8     Michael Roth      M  10th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
8                 95          87          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[29370 rows x 11 columns]
                       math_score
school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Hernandez High School   77.289752
Holden High School      83.803279
Huang High School       76.629414
Johnson High School     77.072464
Pena High School        83.839917
Rodriguez High School   76.842711
Shelton High School     83.359455
Thomas High School      83.418349
Wilson High School      83.274201
Wright High School      83.682222

math_score    15
dtype: int64

In [165]:
# Calculate the number of students (originally said 'schools' here instead of 'students') 
# with math scores of 70 or higher

student_passing_reading = school_data_complete[(school_data_complete['reading_score']>=70)]
#student_passing_reading = student_passing_reading.groupby(["school_name"]).count()[['reading_score']]

print(student_passing_reading)

# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = per_school_reading.loc[(per_school_reading['reading_score'] >= 70)]
print(school_passing_reading)
school_passing_reading.count()

       Student ID     student_name gender grade         school_name  \
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[33610 rows x 11 columns]
                       reading_score
school_name
Bailey High School         81.033963
Cabrera High School        83.975780
Figueroa High School       81.158020
Ford High School           80.746258
Griffin High School        83.816757
Hernandez High School      80.934412
Holden High School         83.814988
Huang High School          81.182722
Johnson High School        80.966394
Pena High School           84.044699
Rodriguez High School      80.744686
Shelton High School        83.725724
Thomas High School         83.848930
Wilson High School         83.989488
Wright High School         83.955000

reading_score    15
dtype: int64

In [166]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
passing_math_and_reading['student_name'].count()

25528

In [167]:
# Use the provided code to calculate the passing rates
per_school_passing_math = student_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = student_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [168]:
per_school_math

                       math_score
school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Hernandez High School   77.289752
Holden High School      83.803279
Huang High School       76.629414
Johnson High School     77.072464
Pena High School        83.839917
Rodriguez High School   76.842711
Shelton High School     83.359455
Thomas High School      83.418349
Wilson High School      83.274201
Wright High School      83.682222

In [169]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({'school_types':school_types,
'Total Students':per_school_counts,
'Total School Budget':per_school_budget,
'Per Student Budget':per_school_capita,
'Average Math Score':per_school_math['math_score'],
'Average Reading Score':per_school_reading['reading_score'],
'Percentage of Student Body Passing Math':per_school_passing_math,
'Percentage of Student Body Passing Reading':per_school_passing_reading,
'Percentage of Student Body Passing Both Math and Reading':overall_passing_rate})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
# per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:.1f}".format)
# per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:.1f}".format)
# per_school_summary["Percentage of Student Body Passing Math"] = per_school_summary["Percentage of Student Body Passing Math"].map("{:.1f}%".format)
# per_school_summary["Percentage of Student Body Passing Reading"] = per_school_summary["Percentage of Student Body Passing Reading"].map("{:.1f}%".format)
# per_school_summary["Percentage of Student Body Passing Both Math and Reading"] = per_school_summary["Percentage of Student Body Passing Both Math and Reading"].map("{:.1f}%".format)

# Sort by school_types
per_school_summary = per_school_summary.sort_values('school_types')

# Display the DataFrame
per_school_summary

,school_types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage of Student Body Passing Math,Percentage of Student Body Passing Reading,Percentage of Student Body Passing Both Math and Reading
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247

## Highest-Performing Schools (by % Overall Passing)

In [170]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
per_school_summary.sort_values(by=['Percentage of Student Body Passing Both Math and Reading'],ascending=False).head(5)

,school_types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage of Student Body Passing Math,Percentage of Student Body Passing Reading,Percentage of Student Body Passing Both Math and Reading
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [171]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
per_school_summary.sort_values(by=['Percentage of Student Body Passing Both Math and Reading'],ascending=True).head(5)

,school_types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage of Student Body Passing Math,Percentage of Student Body Passing Reading,Percentage of Student Body Passing Both Math and Reading
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

In [172]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(['school_name']).mean()
tenth_graders_scores = tenth_graders.groupby(['school_name']).mean()
eleventh_graders_scores = eleventh_graders.groupby(['school_name']).mean()
twelfth_graders_scores = twelfth_graders.groupby(['school_name']).mean()


# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores[["math_score"]]
tenth_grade_math_scores = tenth_graders_scores[["math_score"]]
eleventh_grade_math_scores = eleventh_graders_scores[["math_score"]]
twelfth_grade_math_scores = twelfth_graders_scores[["math_score"]]

# Format math score data
ninth_grade_math_scores = ninth_graders_scores['math_score'].map("{:.1f}".format)
tenth_grade_math_scores = tenth_graders_scores['math_score'].map("{:.1f}".format)
eleventh_grade_math_scores = eleventh_graders_scores['math_score'].map("{:.1f}".format)
twelfth_grade_math_scores = twelfth_graders_scores['math_score'].map("{:.1f}".format)


# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.concat([ninth_grade_math_scores,
tenth_grade_math_scores,
eleventh_grade_math_scores,
twelfth_grade_math_scores], axis=1)

# Change headers
math_scores_by_grade.columns=['9th','10th','11th','12th']

#Minor data wrangling
math_scores_by_grade.index.name = None

#Display the DataFrame
math_scores_by_grade

                        9th  10th  11th  12th
Bailey High School     77.1  77.0  77.5  76.5
Cabrera High School    83.1  83.2  82.8  83.3
Figueroa High School   76.4  76.5  76.9  77.2
Ford High School       77.4  77.7  76.9  76.2
Griffin High School    82.0  84.2  83.8  83.4
Hernandez High School  77.4  77.3  77.1  77.2
Holden High School     83.8  83.4  85.0  82.9
Huang High School      77.0  75.9  76.4  77.2
Johnson High School    77.2  76.7  77.5  76.9
Pena High School       83.6  83.4  84.3  84.1
Rodriguez High School  76.9  76.6  76.4  77.7
Shelton High School    83.4  82.9  83.4  83.8
Thomas High School     83.6  83.1  83.5  83.5
Wilson High School     83.1  83.7  83.2  83.0
Wright High School     83.3  84.0  83.8  83.6

## Reading Score by Grade

In [173]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(['school_name']).mean()
tenth_graders_scores = tenth_graders.groupby(['school_name']).mean()
eleventh_graders_scores = eleventh_graders.groupby(['school_name']).mean()
twelfth_graders_scores = twelfth_graders.groupby(['school_name']).mean()

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grade_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grade_reading_scores = eleventh_graders_scores["reading_score"]
twelfth_grade_reading_scores = twelfth_graders_scores["reading_score"]

# Format reading score data
ninth_grade_reading_scores = ninth_graders_scores['reading_score'].map("{:.1f}".format)
tenth_grade_reading_scores = tenth_graders_scores['reading_score'].map("{:.1f}".format)
eleventh_grade_reading_scores = eleventh_graders_scores['reading_score'].map("{:.1f}".format)
twelfth_grade_reading_scores = twelfth_graders_scores['reading_score'].map("{:.1f}".format)


# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.concat([ninth_grade_reading_scores,
tenth_grade_reading_scores,
eleventh_grade_reading_scores,
twelfth_grade_reading_scores], axis=1)

# Change column headers
reading_scores_by_grade.columns=['9th','10th','11th','12th']

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                        9th  10th  11th  12th
Bailey High School     81.3  80.9  80.9  80.9
Cabrera High School    83.7  84.3  83.8  84.3
Figueroa High School   81.2  81.4  80.6  81.4
Ford High School       80.6  81.3  80.4  80.7
Griffin High School    83.4  83.7  84.3  84.0
Hernandez High School  80.9  80.7  81.4  80.9
Holden High School     83.7  83.3  83.8  84.7
Huang High School      81.3  81.5  81.4  80.3
Johnson High School    81.3  80.8  80.6  81.2
Pena High School       83.8  83.6  84.3  84.6
Rodriguez High School  81.0  80.6  80.9  80.4
Shelton High School    84.1  83.4  84.4  82.8
Thomas High School     83.7  84.3  83.6  83.8
Wilson High School     83.9  84.0  83.8  84.3
Wright High School     83.8  83.8  84.2  84.1

## Scores by School Spending

In [174]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [175]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()
school_spending_df.dtypes

school_types                                                 object
Total Students                                                int64
Total School Budget                                          object
Per Student Budget                                           object
Average Math Score                                          float64
Average Reading Score                                       float64
Percentage of Student Body Passing Math                     float64
Percentage of Student Body Passing Reading                  float64
Percentage of Student Body Passing Both Math and Reading    float64
dtype: object

In [176]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita,
bins = spending_bins, labels=labels)

In [177]:
# school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()
school_spending_df.dtypes

school_types                                                  object
Total Students                                                 int64
Total School Budget                                           object
Per Student Budget                                            object
Average Math Score                                           float64
Average Reading Score                                        float64
Percentage of Student Body Passing Math                      float64
Percentage of Student Body Passing Reading                   float64
Percentage of Student Body Passing Both Math and Reading     float64
Spending Ranges (Per Student)                               category
dtype: object

In [178]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()['Average Math Score']
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Percentage of Student Body Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Percentage of Student Body Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Percentage of Student Body Passing Both Math and Reading"]

In [179]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({'Average Math Score':spending_math_scores,
'Average Reading Score':spending_reading_scores,
'Percentage of Student Body Passing Math':spending_passing_math,
'Percentage of Student Body Passing Reading':spending_passing_reading,
'Percentage of Student Body Passing Both Math and Reading':overall_passing_spending})

# Display results
spending_summary

,Average Math Score,Average Reading Score,Percentage of Student Body Passing Math,Percentage of Student Body Passing Reading,Percentage of Student Body Passing Both Math and Reading
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [180]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [181]:
# Copy Per School Summary for 'Total Students' data
school_size_df = per_school_summary.copy()
school_size_df.dtypes

school_types                                                 object
Total Students                                                int64
Total School Budget                                          object
Per Student Budget                                           object
Average Math Score                                          float64
Average Reading Score                                       float64
Percentage of Student Body Passing Math                     float64
Percentage of Student Body Passing Reading                  float64
Percentage of Student Body Passing Both Math and Reading    float64
dtype: object

In [182]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

school_size_df["School Size"] =pd.cut(per_school_counts, bins = size_bins, labels = size_labels)
school_size_df

,school_types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage of Student Body Passing Math,Percentage of Student Body Passing Reading,Percentage of Student Body Passing Both Math and Reading,School Size
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)

In [183]:
# Calculate averages for the desired columns. 
size_math_scores = school_size_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = school_size_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = school_size_df.groupby(["School Size"]).mean()["Percentage of Student Body Passing Math"]
size_passing_reading = school_size_df.groupby(["School Size"]).mean()["Percentage of Student Body Passing Reading"]
size_overall_passing = school_size_df.groupby(["School Size"]).mean()["Percentage of Student Body Passing Both Math and Reading"]

In [184]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({'Average Math Score':size_math_scores,
'Average Reading Score':size_reading_scores,
'Percentage of Student Body Passing Math':size_passing_math,
'Percentage of Student Body Passing Reading':size_passing_reading,
'Percentage of Student Body Passing Both Math and Reading':size_overall_passing})

# Display results
size_summary

,Average Math Score,Average Reading Score,Percentage of Student Body Passing Math,Percentage of Student Body Passing Reading,Percentage of Student Body Passing Both Math and Reading
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [185]:
print(per_school_summary.dtypes)

school_types                                                 object
Total Students                                                int64
Total School Budget                                          object
Per Student Budget                                           object
Average Math Score                                          float64
Average Reading Score                                       float64
Percentage of Student Body Passing Math                     float64
Percentage of Student Body Passing Reading                  float64
Percentage of Student Body Passing Both Math and Reading    float64
dtype: object

In [186]:
type_summary = per_school_summary.groupby(['school_types']).mean()

print(type_summary)

              Total Students  Average Math Score  Average Reading Score  \
school_types
Charter          1524.250000           83.473852              83.896421
District         3853.714286           76.956733              80.966636

              Percentage of Student Body Passing Math  \
school_types
Charter                                     93.620830
District                                    66.548453

              Percentage of Student Body Passing Reading  \
school_types
Charter                                        96.586489
District                                       80.799062

              Percentage of Student Body Passing Both Math and Reading
school_types
Charter                                               90.432244
District                                              53.672208

In [187]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_summary = per_school_summary.groupby(['school_types']).mean()

average_math_score_by_type = type_summary["Average Math Score"]
average_reading_score_by_type = type_summary["Average Reading Score"]
average_percent_passing_math_by_type = type_summary["Percentage of Student Body Passing Math"]
average_percent_passing_reading_by_type = type_summary["Percentage of Student Body Passing Reading"]
average_percent_overall_passing_by_type = type_summary["Percentage of Student Body Passing Both Math and Reading"]

In [188]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({'Average Math Score':average_math_score_by_type,
'Average Reading Score':average_reading_score_by_type,
'Percentage of Student Body Passing Math':average_percent_passing_math_by_type,
'Percentage of Student Body Passing Reading':average_percent_passing_reading_by_type,
'Percentage of Student Body Passing Both Math and Reading':average_percent_overall_passing_by_type})

# Display results
type_summary

,Average Math Score,Average Reading Score,Percentage of Student Body Passing Math,Percentage of Student Body Passing Reading,Percentage of Student Body Passing Both Math and Reading
school_types,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208